* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr, 1fr, 0.2fr;
}

main {
  grid-row-start: 2;
}
