* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr, 1fr, 0.2fr;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(41, 41, 41);
  /*border: 1px solid white;*/
}

nav {
  border: 4px solid rgba(255, 0, 0, 0);
  margin-left: 90%;
}

nav > img {
  width: 100%;
  height: auto;
}

nav > a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

main {
  grid-row-start: 2;
}

.add-container {
  margin: 4rem;
  background-color: rgb(41, 41, 41);
}

.add-container > h1 {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 0.5fr);
  padding: 1rem;
}

form > button {
  grid-column-start: 2;
}

form > input {
  margin: 1rem;
  max-height: 1.2rem;
}
form > label {
  margin: 1rem;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.1fr;
  font-size: 0.5rem;
  margin: 10px;
}

.track-container {
  background-color: rgb(41, 41, 41);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.1fr;
  margin: 10px;
  font-weight: bold;
}

footer {
  width: 100vw;
  background-color: rgb(41, 41, 41);
  position: fixed;
  bottom: 0;
}

@media (min-width: 1024px) {
  .add-container {
    margin-left: 40rem;
    margin-right: 40rem;
    background-color: rgb(41, 41, 41);
  }
}
